.hero-cont{
    padding: 150px 0;

}

@media only screen and (max-width: 900px) {
    .hero-cont{
    
    display: flex;
    align-items: center;
    padding: 50px 0;
    }
}


.div-btn{
    height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-contactanos{
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background-color: #66C4BF;
    border: 2px solid white;
    padding: 5px 20px;
    font-size: 2em;
}

.btn-contactanos:hover{
    background-color: #60b3ae;
    color: white;
}

.bg-img{
    background-image: url(../img/blob.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
