.serv-box h3{
    color: white;
    margin-bottom: 20px;
    font-size: 3em;

}

.serv-box{
    background-color: #66C4BF;
    padding: 50px 100px 100px 100px;
    border-radius: 50px;
}

.cards-service{
    display: flex;
    justify-content: center;
    gap: 20px;
}


@media only screen and (max-width: 900px) {
    .serv-box{

        padding: 30px 0px 60px 0px;

    }
    .cards-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}